body {
	background-color: #ccffff;
}

main {
	max-width: 60%;
	margin: 0 auto;
	margin-top: 5em; 
	box-shadow: 5px 8px 8px #888888;
	border: solid 1px black;
	font-family: sans-serif;
	background-color: #ffffb3;
}

#title {
	text-align: center;
}

#description {
	text-align: center;
}

#form-holder {
	margin: 20px;
}

.input-holder {
	position: relative;
	margin: 10px 0px 10px 0px;
}

.input-holder.submit {
	text-align: center;
}

.labels {
	display: inline-block;
	width: 40%;
	text-align: right;
	padding-right: 10px;
	vertical-align: top;
}

ul {
	display: inline-block;
	margin: 0;
	list-style-type: none;
	padding: 0;
}

.input-field {
	padding: 5px;
	width: 300px;
}


#dropdown {
	width: 120px;
	height: 30px;
}